body {
    background: black;
    color: white;
}

a {
    color: white !important;
}

a:hover {
    color: gold !important;
}

hr {
    width: 50px;
    border-width: 5px;
    border-color: black;
}

label {
    font-weight: bold;
}

/* Bootstrap Mods */

.navbar {
    background: #3a3535;
    height: 75px;
    z-index: 100;
    margin-top: 0;
    transition: background-color 1s ease 0s;
}

.nav-item {
    letter-spacing: 2px;
    margin: 15px;
}

.nav-link:hover {
}

.card {
    color: black;
}

.btn {
    background: #829ca2;
    color: white;
}

.btn:hover {
    background: #73C2FB;
    color: white !important;
}

.h3 {
    color: white;
}

/* ID mods */

#logo {
    margin-top: 20px;
}

#landingPage {
    background: url("../images/tree_in_badlands.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    margin-top: -75px !important;
}

#about {
    background: #574e4e !important;
}

#headshot {
    margin-top: 20px;
    margin-bottom: 30px;
}

#portfolio {
    background: #4a523b !important;
}

#contact {
    background: #947a51 !important;
}

#emailLink {
    color: gold !important;
}

#emailLink:hover {
    color: gold;
}

#theFooter {
    background: #3a3535;
    height: 200;
    vertical-align: center !important;
}

#socMedia {
    letter-spacing: 10px;
}