body {
    background: black;
    color: #141301 !important;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: white !important;
}

a:hover {
}

hr {
    width: 100px;
    border-width: 5px;
    border-color: #B80C09;
}

label {
}

/* Bootstrap Mods */

.navbar {
    background: #141301;
    transition: background-color 1s ease 0s;
}

.nav-item {
    letter-spacing: 2px;
    margin: 15px;
}

.nav-link:hover {
    border-bottom: solid 1px #B80C09;
    display: inline;
    padding-bottom: 3px;
}

.card {
    color: black;
}

.btn {
    background: #B80C09;
    color: white;
}

.btn:hover {
    background: #73C2FB;
    color: white !important;
}

.h3 {
    color: white;
}

/* ID mods */

#logo {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    font-weight: bolder;
}

#navbarNav {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
}

#landingPage {
    background: url("../images/mpls_set1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    margin-top: -75px !important;
}

#aboutPage {
    background: #E5E7E6 !important;
}

.customH1 {
    font-family: 'Rock Salt', cursive;
}

#headshot {
    margin-top: 20px;
    margin-bottom: 30px;
}

#portfolioPage {
    background: darkgray !important;
}

#contact {
    background: #E5E7E6 !important;
}

#emailLink {
    color: #B80C09 !important;
}

#emailLink:hover {
    color: gold;
}

#theFooter {
    background: #141301;
    height: 200;
    vertical-align: center !important;
}

#footerCredit {
    color: #E5E7E6;
}

#socMedia {
    letter-spacing: 10px;
}